<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
    <link rel="icon" href="{{ url_for('static', filename='images/icon.png') }}" type="image/png">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/signup_login_style.css') }}">
    <script src="{{ url_for('static', filename='js/basic_js.js') }}"></script>
    <link rel="stylesheet" href="/static/css/signup_login_style.css">
    <script src="/static/js/basic_js.js"></script>

</head>
<body style="height: 90vh;">
    <div class="container">
        <h2>Change Password</h2>
        
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                <div class="alert-message alert alert-warning fade show" role="alert">
                {% for message_tuple in messages %}
                    {% if message_tuple is iterable and message_tuple | length == 2 %}
                        {% set category, message = message_tuple %}
                    {% else %}
                        {% set category = "default" %}
                        {% set message = message_tuple %}
                    {% endif %}
                    {% if category == "tryagain" %}
                        <div class="alert-row tryagain ">
                            ⚠️ Alert: Something went wrong!
                        </div>
                        <div class="message-row tryagain">
                            {{ message | safe }}
                        </div>
                    {% elif category == "success" %}

                        <div class="alert-row success">
                            Success!
                        </div>
                        <div class="message-row success">
                            {{ message }}
                        </div>
                    {% endif %}                
                {% endfor %}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">&times;</button>
                </div>
            {% endif %}
        {% endwith %}
        <form action="{{ url_for('change_password') }}" method="POST">
            <label>Employee ID:</label>
            <input class="id" type="id" name="id" value="{{ emp_id }}" readonly>
        
            {% if validate %}
                <input type="hidden" name="form_type" value="change">
        
                <label for="password">New Password:</label>
                <div class="form-group">
                    <input type="password" value="{{ data.get('new_password','') }}" minlength="8" id="password" name="new_password" placeholder="Enter your new password" required>
                    <span class="toggle-password" onclick="toggleVisibility('password', this)">🙈</span>
                </div>
        
                <label for="confirm_password">Re-enter Password:</label>
                <div class="form-group">
                    <input class="password {{ category }}" type="password" value="{{ data.get('confirm_password','') }}" id="confirm_password" name="confirm_password" placeholder="Re-enter password" required>
                    <span class="toggle-password" onclick="toggleVisibility('confirm_password', this)">🙈</span>
                </div>
        
                {% if category == "wrong_password" %}
                    <p class="warning">Passwords do not match. Please try again.</p>
                {% endif %}
            
            {% else %}
                <input type="hidden" name="form_type" value="verify">
        
                <label>Old Password:</label>
                <div class="form-group">
                    <input class="password {{ category }}" type="password" value="{{ data.get('old_password','') }}" id="password" name="old_password" placeholder="Enter your old password" required>
                    <span class="toggle-password" onclick="toggleVisibility('password', this)">🙈</span>
                </div>
        
                {% if category == "wrong_password" %}
                    <p class="warning">Incorrect password. Please try again.</p>
                {% endif %}
            {% endif %}
        
            <button style="margin-top: 15px; width: 230px; font-weight: 500; margin-right: 20px;" type="submit">
                {% if validate %}Change Password{% else %}Verify Password{% endif %}
            </button>
        
            <a href="{{ url_for('profile') }}" style="text-decoration: none; padding: 10px 70px;" class="cancel">Go back</a>
        </form>                
    </div>
</body>
</html>